img {
  /* clip-path: circle(50% at 50% 50%); */
  height: 15vw;
  width: 15vw;
  border-radius: 5%;
}

.navbar {
  font-size: 1.5vw;
  background-color: #169A1A;
  color: white;
  padding: 15px;
}

.header {
  font-size: 3vw;
  margin: 2.5% 0 2.5% 40%;
  color: #149218;
  font-weight: bolder;
}

.header-cuisine {
  font-size: 2vw;
  margin: 0 0 0 10%;
  color: #149218;
  font-weight: bold;
}

.italian {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-left: 10%;
}

.chinese {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-left: 10%;
}

.italian-row1 {
  display: flex;
  flex-direction: row;
}

.italian-row2 {
  display: flex;
  flex-direction: row;
}

.chinese-row1 {
  display: flex;
  flex-direction: row;
}

.food-block {
  align-items: center;
  width: 20%;
  padding: 1vw 1vw 0 1vw;
  margin: 1vw 3vw;
  font-size: 1vw;
  background-color: #228B22;
  color: #FFFFFF;
  border-radius: 5%;
}

.food-box-title {
  font-weight: bolder;
  font-size: 1.2vw;
  color: #FFFFFF;
}

.nav-item {
  padding: 5px;
}
